<i id='open-nav-button' class="fa fa-bars" aria-hidden="true"></i>
<nav><i id='close-nav-button' class="closebtn">&times;</i>
<i class="fa fa-chevron-left fa-2x" id="menu-step-back" aria-hidden="true"></i>
	<div id='menu'>
			<div id='menu-flex'>
<% 
	var linksName = Object.keys(nav),
		nbLinks = linksName.length,
		colors = Array('not_colored is_lighttext is_lightborder','colored');
	var nC = 0;
	for(var u = 0; u < nbLinks; u++){
		nC = ((nC-1) * (nC - 1));
		if(nav[linksName[u]].is_group){
			var id =linksName[u].toLowerCase().replace(' ','_'); %>
			<div data-ripple='rgba(0,0,0, 0.3)' class='menu-button material-shadow-2 grouped-button first-menu-button <%= colors[nC] %>' act='<%= id %>'><div>
				<%- nav[linksName[u]].icon %><br />
				<%= linksName[u] %>
			</div></div>
	<%	}
		else{ %>
			<a href="<%- nav[linksName[u]].link %>" data-ripple="rgba(0,0,0, 0.3)" class="menu-button material-shadow-2 first-menu-button <%= colors[nC] %>" ><div>
				<%- nav[linksName[u]].icon %><br />
				<%= linksName[u] %>
			</div></a>
	<% }
	} %>
</div>
</div>
<%
for(var u = 0; u < nbLinks; u++){
	if(nav[linksName[u]].is_group){
		var id = linksName[u].toLowerCase().replace(' ','_'),
			linksOfGroup = Object.keys(nav[linksName[u]]),
			nbGroupedLinks = linksOfGroup.length,
			nT = 0; %>
			<div id="<%= id %>_group" class='group'>
				<div id='menu-flex'>
<%
		for(var o = 0; o < nbGroupedLinks; o++){
			if(linksOfGroup[o] != "is_group" && linksOfGroup[o] != "icon"){ %>
			<a href="<%- nav[linksName[u]][linksOfGroup[o]].link %>" data-ripple="rgba(0,0,0, 0.3)" class="material-shadow-2 menu-button <%= colors[nT] %>" ><div>
				<%- nav[linksName[u]][linksOfGroup[o]].icon %><br />
				<%= linksOfGroup[o] %>
			</div></a>
				<%	nT = ((nT-1) * (nT - 1));			} 
		} %>
</div>
</div>
<%
	}
}
%>


</nav>
