 <!DOCTYPE html>
<html>
	<head>
		<% include includes/head-content.include.ejs %>
		<%	include includes/icons.include.ejs %>
		<%	include includes/css.include.ejs %>
		<script src="/js/jquery-1.11.3.min.js"></script>
		<script src="/js/stay_standalone.js"></script>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
	</head>
	<body>
		<% include includes/header.include.ejs %>
		<div class='page' id='home_page'>
	
			<div class="material-shadow-2" id='input-password-page'>
			<h3></h3>
			
				<div id="admin-input-password">
				<div id='paswordValidation'></div>
					<table>
					<tr>
					<td class='input-button-password' data-ripple="rgba(0,0,0, 0.3)">1</td><td data-ripple="rgba(0,0,0, 0.3)" class='input-button-password'>2</td><td data-ripple="rgba(0,0,0, 0.3)" class='input-button-password'>3</td>
					</tr>
					<tr>
					<td class='input-button-password' data-ripple="rgba(0,0,0, 0.3)">4</td><td class='input-button-password' data-ripple="rgba(0,0,0, 0.3)">5</td><td class='input-button-password' data-ripple="rgba(0,0,0, 0.3)">6</td>
					</tr><tr>
					<td class='input-button-password' data-ripple="rgba(0,0,0, 0.3)">7</td><td data-ripple="rgba(0,0,0, 0.3)" class='input-button-password'>8</td><td class='input-button-password' data-ripple="rgba(0,0,0, 0.3)">9</td>
					</tr>
					<tr>
					<td></td><td class='input-button-password' data-ripple="rgba(0,0,0, 0.3)">0</td><td id='backspace-login'><svg class="DOripple"  viewBox="0 0 24 24">
    <path  d="M22,3H7C6.31,3 5.77,3.35 5.41,3.88L0,12L5.41,20.11C5.77,20.64 6.31,21 7,21H22A2,2 0 0,0 24,19V5A2,2 0 0,0 22,3M19,15.59L17.59,17L14,13.41L10.41,17L9,15.59L12.59,12L9,8.41L10.41,7L14,10.59L17.59,7L19,8.41L15.41,12" />
</svg></td>
					</tr>
					</table>
				</div>
				<div id="user-input-password">
					<table>
					<div id="userPassword-box">
					<input type='password' placeholder='Password' id='userPassword'>
					</div>
					<div data-ripple="rgba(0,0,0, 0.3)"  class='material-shadow-1 button-send-user-password'>Connexion</div>
					</table>
				</div>
			</div>
			
			<div id='right_block'>
			<div class="material-shadow-2">
				<div id="current_time">
					<% var d = new Date();
						var h = d.getHours();
						if(h < 10){
							h = '0' + h;
						}
						var m = d.getMinutes();
						if(m < 10){
							m = '0' + m;
						}
					%><%= h %> : <%= m %>
</div>
				<div id="current_date"><%= show_date(); %></div>
				</div>
			</div>
		</div>
		<div id="slectUser" data-ripple="rgba(0,0,0, 0.3)" class="material-shadow-2"><i class="fa fa-user-o" aria-hidden="true"></i></div>
		<div class="material-shadow-2" id="usersList">
	
		
		</div>
		
	</body>
	<script src="/js/passcode_page.js"></script>
<script src='/js/snackbar.min.js'></script>
<script>var message = '<%- error %>';</script>
	<script src="/js/common.js"></script>
<script>


reset_position();
$(window).resize(function(){

reset_position();
})
function reset_position(){

$("#input-password-page").css('margin-top',(($('.page').height()-$('.page').css('padding-bottom') .replace('px','') -$('.page').css('padding-top') .replace('px','')-$("#input-password-page").height()-($('#input-password-page').css('padding-top').replace('px','')/2)-($('#input-password-page').css('padding-bottom').replace('px','')/2))/2) - 4+'px')
}
</script>
	<% 
var contentNames = Object.keys(content);
var contentL = contentNames.length;

		var loaded ={};
		for(var u = 0; u < contentL; u++){ 
var y = new RegExp(content[contentNames[u]].page,'g');
			if(page_name.match(y) && !loaded[content[contentNames[u]].script]){
loaded[content[contentNames[u]].script] == 1;%>
	<%- content[contentNames[u]].script%>
	<%	}}
	%>
</html>

<%
function show_date(){
	var d = new Date(),
	mois = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
	jours = ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'];
	return jours[d.getDay()] + ' ' + d.getDate() + ' ' + mois[d.getMonth()];
}

%>